
.animation-cred {
    opacity: 0;
    transform: scale(1.2);
    display: flex;
    
}

@media (prefers-reduced-motion: no-preference) {
  .animation-cred {
    transition: opacity 1.5s ease, transform 1.5s ease;
  }
}

.animation-transition-cred {
    opacity: 1;
    transform: none;
}





.credWrapper{
    background-image: url(/Real-Estate/public/images/credbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center; 
    align-items: center; 

    .credTitleContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .credImage1{
        justify-content: center; 
        align-items: center; 
        text-align: center;
        flex: 1;
        /* margin-left: 200px; */
    }

    .credTextWrapper{
        /* margin-top: 60px; */
        /* flex: 1; */
        justify-content: center;
        text-align: center;
        width: 28vw;
        padding-bottom: 5%;
        margin-right: 20%;
    }

    .credTextContainer h2{
        text-align: center;
        font-family: dgsemibold;
        font-size: 36px;
        line-height: 90%;
    }
    .credTextContainer p{
        padding-top: 40px;
        text-align: justify;
        margin: 0 auto;
        font-size: 20px;
        font-family: interReg;
        width: 90%;
        /* display: flex; */
        align-items: center;
        justify-content: center; /* Add this line */
    }
}
.comparativeBold{
    font-weight: bold;

}
.credTextContainer p:hover{
    .comparativeBold{
        text-decoration: underline 1px;
    }
    /* font-size: 200px; */
}