.processContainer {
    background-image: url(/Real-Estate/public/images/processbg.png);
    height: 100%;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
}

.processWrapper{
    display: flex;
    flex: 1;
    /* height: 100%; */
    margin-top: 5%;

}

.sellingContainer,
.buyingContainer {
    flex: 1;
    display: flex; /* Add this line */
    height: 100%;
    justify-content: center;
    align-items: center;
}



.sImageContainer{
    text-align: center;
    align-items: center;
    width: 60%;
    height: 100%;
    transition: all 300ms ease-out;

}
.bImageContainer{
    text-align: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

h1 {
    margin-bottom: 20px;
    font-family: dgmed;
    font-size: 40px;
    color: white;
}

.sImageContainer img {
    transition: all 300ms ease-out;
}

.sImageContainer img:nth-of-type(1):hover {
    transition: all 300ms ease-in;
    transform: scale(1.02);
}

.sImageContainer img:nth-of-type(2):hover {
    transition: all 300ms ease-in;
    transform: scale(1.02);
}

.sImageContainer img:nth-of-type(3):hover {
    transition: all 300ms ease-in;
    transform: scale(1.02);
}

.sImageContainer img:nth-of-type(4):hover {
    transition: all 300ms ease-in;
    transform: scale(1.02);
}

.sImageContainer img:nth-of-type(5):hover {
    transition: all 300ms ease-in;
    transform: scale(1.02);
}

.bImageContainer img {
    transition: all 300ms ease-out;
}

.bImageContainer img:nth-of-type(1):hover {
    transition: all 300ms ease-in;
    transform: scale(1.02);
}

.bImageContainer img:nth-of-type(2):hover {
    transition: all 300ms ease-in;
    transform: scale(1.02);
}

.bImageContainer img:nth-of-type(3):hover {
    transition: all 300ms ease-in;
    transform: scale(1.02);
}

.bImageContainer img:nth-of-type(4):hover {
    transition: all 300ms ease-in;
    transform: scale(1.02);
}

.bImageContainer img:nth-of-type(5):hover {
    transition: all 300ms ease-in;
    transform: scale(1.02);
}
