.search-container {
    margin-top: 4%;
    background-color: white;
    width: 50%;
    height: 80px; 
    border-radius: 10px;
    font-size: 16px;
    font-family: interReg;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    /* padding-bottom:1% ; */

}

.search-container p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 4%;
    padding: 0 20px;
    /* margin: 10px 0;  */
    margin-top: 18px;
    color: #878787;
}

.searchWrapper {
    display: flex;
    align-items: center;
    /* width: 100%; */
    /* padding: 0 20px; */
    padding-left: 20px;
    /* margin-bottom: 20px; */
}

.search1, .search2 {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.search1 img, .search2 img {
    margin-right: 5px;
}

.search-container input {
    border: none;
    font-size: 16px;
    width: 100%;
}

.search-container form {
    display: flex;
    flex-direction: column; /* Ensure the elements are arranged in a column */
    /* height: 100%; */
}

.form-content {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    flex-grow: 1;
    /* height: 80%;  */

    /* width: 100%; */
    /* height: 20%;  */
}

.search-container button {
    /* padding: 0 20px;  */
    padding-left: 20px;
    padding-right: 10px;
    background: #FFBF00;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    text-align: left;
    height: 180%; /* Fill the height of the container */
    align-self: flex-end;

    display: flex;
    flex-direction: row;
    
    /* margin-top: 2%; */
    /* margin-bottom: 1px; */
    /* margin-bottom: 1% ; */
    /* padding-bottom: ; */
}

input {
    border: none;
    outline: none;
}

.book-span{
    align-self: center;
    margin-left: 20px;
    
    /* margin-bottom: 50px; */
}

.book-p{
    align-self: center;

}