
.animation {
    opacity: 0;
    transform: scale(1.2);
    display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .animation {
    transition: opacity 1.5s ease, transform 1.5s ease;
  }
}

.animation-transition {
    opacity: 1;
    transform: none;
}

.servicesWrapper{
    height: 100%;
    width: 100vw;
    background-image: url(./public/images/servicesbg.png);

}

.servicesTitleContainer{
    justify-content: center;
    text-align: center;
    line-height: 250%;
    /* margin-top: 50px; */
}
.servicesTitleContainer h1{
    color: black;
    font-family: dgbold;
    font-size: 48px;

}
.servicesTitleContainer h3{
    font-family: dgmed;
    font-size: 24px;
    color: #FFBF00;
    padding-top: 50px;


}

.servicesContainer{
    display: flex;
    flex:1;
    height: 100%;
    width: 100vw;
    /* flex-direction: row; */
    /* flex-direction: column; */

}



/* .responsiveWrapper.visible {
    opacity: 1; 
} */

.responsiveWrapper{
    position: relative;
    transition: all 300ms ease-out;
  
   
    .responsiveCard{
        position: relative;
        display: inline-block;

    }
    .responsiveCard img{
        display: block;
        width: 100%;
        height: auto;
    }

    .responsiveContainer{
        position: absolute;
        top: 50%;
        left: 48%;
        transform: translate(-50%, -100%);
        color: black;
        font-size: 24px;

        text-align: center;
        justify-content: center;
    }

    .responsiveContainer h1{
        color: black;
        margin-bottom: 80px;
        font-size: 62px;
        font-family: dgbold;

    }
    .responsiveContainer p{
        font-size: 20px;
        font-family: interReg;
        color: #878787;
    }
}

.responsiveWrapper:hover{
    transition: all 300ms ease-in;
    transform: scale(1.02);
}


.syndicateWrapper{
    position: relative;
    transition: all 300ms ease-out;

    
    .syndicateCard{
        position: relative;
        display: inline-block;
    }
    .syndicateCard img{
        display: block;
        /* width: 100%; */
        height: auto;
    }

    .syndicateContainer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        color: black;
        font-size: 24px;
        /* padding: 10px 20px; */
        /* border-radius: 5px; */
        text-align: center;
        justify-content: center;
    }

    .syndicateContainer h1{
        color: black;
        margin-bottom: 80px;
        font-size: 62px;
        font-family: dgbold;
        /* transform: translate(-55%, -45%); */

    }
    .syndicateContainer p{
        font-size: 20px;
        font-family: interReg;
        color: #878787;
    }
}

.syndicateWrapper:hover{
    transition: all 300ms ease-in;
    transform: scale(1.02);
}


.virtualWrapper{
    position: relative;
    transition: all 300ms ease-out;

    .virtualCard{
        position: relative;
        display: inline-block;
    }
    .virtualCard img{
        display: block;
        width: 100%;
        height: auto;
    }

    .virtualContainer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -90%);
        color: black;
        font-size: 24px;
        /* padding: 10px 20px; */
        /* border-radius: 5px; */
        text-align: center;
        /* justify-content: center; */
    }

    .virtualContainer h1{
        color: black;
        margin-bottom: 80px;
        font-size: 62px;
        font-family: dgbold;
        width: 30vh;
        /* transform: translate(-55%, -45%); */

    }
    .virtualContainer p{
        font-size: 20px;
        font-family: interReg;
        color: #878787;
    }
    
}

.virtualWrapper:hover{
    transition: all 300ms ease-in;
    transform: scale(1.02);
}

.photographyWrapper{
    position: relative;
    transition: all 300ms ease-out;

    
    .photographyCard{
        position: relative;
        display: inline-block;
    }
    .photographyCard img{
        display: block;
        /* width: 100%; */
        height: auto;
    }

    .photographyContainer{
        position: absolute;
        top: 52%;
        left: 52%;
        transform: translate(-50%, -100%);
        color: black;
        font-size: 24px;
        /* padding: 10px 20px; */
        /* border-radius: 5px; */
        text-align: center;
        /* justify-content: center; */
    }

    .photographyContainer h1{
        color: black;
        margin-bottom: 80px;
        font-size: 58px;
        font-family: dgbold;
        /* width: 30vh; */
        text-align: center;
        justify-content: center;
        /* transform: translate(-55%, -45%); */

    }
    .photographyContainer p{
        font-size: 20px;
        font-family: interReg;
        color: #878787;
    }
    
}

.photographyWrapper:hover{
    transition: all 300ms ease-in;
    transform: scale(1.02);
}
