@import "/Real-Estate/css/fonts.css";
@import "/Real-Estate/css/services.css";
@import "/Real-Estate/css/testimonial.css";
@import "/Real-Estate/css/credentials.css";
@import "/Real-Estate/css/process.css";
@import "/Real-Estate/css/market.css";
@import "/Real-Estate/css/searchbar.css";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    
}
*{
    margin: 0;
    padding: 0;
}

.introContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 100vh;
    width: 100vw;
    background-image: url("/Real-Estate/public/images/introbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    
    h1 {
        font-family: dgbold;
        font-size: 96px;
        line-height: 80%;
        color: black;
    }
}

.titleContainer {
    flex: 1;
    margin-left: 70px;
}

.effectiveContainer {
    font-size: 2;
}

#imgHouse {
    width: 100%;
}

#imgLogo {
    /* width: 200px; */
    /* margin-bottom: 0px; */
}

.effectiveContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 200%;
    font-family: dgsemibold;
    color: #737373;

    #xText {
        font-size: 32px;
    }

    #effectiveText {
        font-size: 20px;
    }
}

.satisfiedContainer {
    line-height: 200%;
    font-family: dgsemibold;
    color: #737373;

    #mText {
        font-size: 32px;
    }

    #satisfiedText {
        font-size: 20px;
    }
}




